.ProjectTitle {
  width: fit-content;
  text-decoration: none;
  color: whitesmoke;
}

.projectContainer {
  display: flex;
  margin-bottom: 5rem;

  justify-content: center;
  align-items: center;
  .projectTitle {
    position: relative;
    background-color: rgba(238, 130, 238, 0.4);
    width: fit-content;
    text-align: end;
    color: rgb(19, 46, 60);
    box-shadow: -1px -1px 20px 1px rgba(245, 245, 245,0.5);
    padding: 1rem;
    transition: 300ms;
    font-size: 1rem;
  }
  .projectTitle:hover {
    scale: 1.06;
    transition: 300ms;
    box-shadow: -2px -2px 20px 6px whitesmoke;
  }
}

.ProjectTech {
  position: relative;
  display: flex;
  left: 1.5rem;
  margin: 1rem;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
  box-shadow: -1px 0px 10px 4px rgba(17, 17, 17, 0.4);
  padding: 0.3rem;
  width: fit-content;
  align-items: center;
  flex-wrap: wrap;
  .tech {
    padding-left: 0.3rem;
    margin: 0.3rem;
    border-left: 0.1rem solid rgba(238, 130, 238,0.4);
  }
}
.techTitle {
  font-size: 1rem;
  padding: 0.3rem;
  color: violet;
  margin-top: 1rem;
  margin-left: 0.5rem;
  width: fit-content;
}
.image1 {
  width: 100%;
  filter: grayscale(80%);
}
.imageWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.detailWrapper {
  position: relative;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}
