.ProjectTitle {
  width: fit-content;
  text-decoration: none;
  color: whitesmoke;
}

.projectContainer {
  display: flex;
  .projectTitle {
    background-color: rgba(238, 130, 238, 0.4);
    width: fit-content;
    text-align: end;
    color: rgb(19, 46, 60);
    padding: 1rem;
  }
}

.ProjectTech {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 4px 4px rgba(17, 17, 17, 0.4);
  padding: 1rem;
  width: fit-content;
  .tech {
    line-height: 1.3;
  }
  .techTitle {
    font-size: 1rem;
    padding-bottom: 0.3rem;
    color: violet;
  }
}
.image1 {
  width: 100%;
  filter: grayscale(80%);
  
}
.imageWrapper {
  width: 50%;
  margin: 0.5rem;
  
}
.detailWrapper {
  
  width: 50%;
  
  
}
