.ProjectTitle{
    font-size: larger;
    margin:0px;
    padding-bottom: 5px;
}
.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.ProjectTech{
    font-size: small;
}