.quote {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.2;
  font-size: large;
  color: rgb(30, 32, 34);
  font-weight: 600;
  width: 90%;
  padding: 20px;
  transition: all 1s;
  background-color: rgba(204, 204, 204, 0.3);
  border-radius: 50px;
}
.quote:hover {
  scale: 1.08;
  transition: all 1s;
  opacity: 1.8;
}
