* {
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 8, 8);
  color: whitesmoke;
}
.nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  display: flex;
  margin: 10px;
  align-items: center;
}
.navItem {
  margin-right: 10px;
}
.navButtonWrapper {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  .navButton {
    margin: 3px;
  }
}
.navIcon {
  margin: 3px;
}

.iconWrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0.1px solid whitesmoke;
  margin: 2px;
}
.iconWrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0.5px solid whitesmoke;
  margin: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .iconWrapper1 {
    animation: cirecleSpin infinite 20s linear;
  }
}
@keyframes circleSpin {
  from {
    
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    
  }
}
