* {
  margin: 0;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
 
}

.section h1 {
  font-size: 40px;
  padding: 20px;
  color: rgb(27, 25, 25);
  opacity: 0.7;
}

.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.colorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.section h3 {
  padding: 20px;
  font-size: x-large;
  color: antiquewhite;
}
.content{
  margin-top: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.quoteWrapper{
  position: relative;
}

.section button {
  border: solid 1px antiquewhite;
  transition: all 1s;
  background-color: transparent;
  height: 40px;
  border-radius: 30px;
  width: 120px;
  font-weight: 500;
  font-size: large;
  color: antiquewhite;
  opacity: 0.5;
  z-index: 1;
}
.section button:hover {
  scale: 1.5;
  color: rgb(172, 27, 56);
  background-color: transparent;
  opacity: 1.5;
  transition: all 1s;
  border: solid 2px rgb(172, 27, 56);
  border-radius: 10px;
}
