.DisplayProject {
  width: 100%;
  
  animation-name: displayProject;
  animation-duration: 2s;
  
}
@keyframes displayProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.buttonDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.LeftWrapper {
  font-size: 3rem;
  cursor: pointer;
  
}

.RightWrapper {
  cursor: pointer;

  font-size: 3rem;
  
}

.left,
.right {
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: 300ms;
  opacity: 0.4;
}

@keyframes scale {
  0% {
    scale: 0.98;
  }
  50% {
    scale: 1.12;
  }
  100% {
    scale: 1;
  }
}
.left:hover,
.right:hover {
  transition: 300ms;
  color: violet;
  opacity: 0.4;
  scale: 1.05;
}
