.Page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
}

.Top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  background-color:#111;
  color: #111;
  
  
}
.TopContent{
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-color: #111;
  
  
}
.TopContent a{
  color: whitesmoke;

}

.Content {
  height: 80%;
  width: 100%;
}
.NavBar {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  justify-content: center;
  text-decoration: underline;
  opacity: 0.8;
}
h2{
    padding:10px;
    
    border-right: 2px solid gray;
}
.title{
  text-align: center;
  margin:10px;
  
}
.details{
  margin: 10px;
  display: flex;
  justify-content: center;
  
}
.details p{
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #111;
 
}
p{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}