.Page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
}

.Top {
  display: flex;
  height: 20%;
  width: 100%;
  background-color: gray;
  border-bottom: solid 2px rgb(37, 35, 35);
}

.Content {
  
  height: 80%;
  width: 100%;
}
.NavBar {
  display: flex;
  width: 100%;
  height: 50px;
  
  
}
h2{
    padding:10px;
    cursor: pointer;
    border-right: 2px solid gray;
}
.title, .details{
  margin:10px;
  
}
